{% extends 'layout.html' %}
{% block title %}
Main
{% endblock %}
{% block con %}

<section class="text-gray-600 body-font">
  <div class="container mx-auto flex px-5 py-24 items-center justify-center flex-col">

    <div class="text-center lg:w-2/3 w-full">
      <h1 class="title-font sm:text-4xl text-3xl mb-4 font-medium text-gray-900">Сеть магазинов Atik'а</h1>
      <p class="mb-8 leading-relaxed">Интернет-магазин модной одежды, обуви, игрушек, косметики в Узбекистане
Хотите купить модную женскую, мужскую или детскую одежду, обувь, аксессуары; детские игрушки; товары для дома и интерьера; товары хенд мейд в Узбекистане? Интересно участвовать в акциях и распродажах не выходя из дома и ежедневно открывать для себя что-нибудь новое?

Добро пожаловать в интернет-магазин Булавка!

На сайте каждый день публикуются красивые и стильные вещи в единичном экземпляре. Для вас и вашей семьи доступна качественная, стильная и модная одежда, обувь и аксессуары от более чем 400 мировых брендов. В интернет-магазине Булавка действует ежедневная программа скидок до 80% и может, именно сегодня, вещь, которую вы уже очень давно хотите приобрести будет стоить намного дешевле!

Функции Поиска и Фильтра помогут вам быстро найти на сайте то, что вы ищите и в несколько кликов заказать понравившийся товар.

Одним из сервисов интернет магазина Bulavka является доставка по всему Узбекистану. Вы заказываете товары и мы доставляем их вам. Можете примерить выбранные вами вещи у себя дома в спокойной обстановке, спросить мнения своих близких и сэкономить много времени, не теряя целый день в поисках вещи которую вы хотите найти.

Возможность возврата товара гарантирует вам, что вы можете доверять нашему интернет магазину и не волноваться о том, что вдруг, в спешке, что-то было упущено или вы просто не обратили внимание на некоторые детали.

Мы рады любой возможности принести вам пользу и радость! Найдите то, что ищите в интернет-магазине Булавка!</p>
      <div class="flex justify-center">
        <a href="menu"> <button class="inline-flex text-white bg-indigo-500 border-0 py-2 px-6 focus:outline-none hover:bg-indigo-600 rounded text-lg">Перейти к покупке</button> </a>

      </div>
    </div>
  </div>
</section>
{% endblock %}